<nav class="navbar navbar-expand-lg navbar-light bg-light custom-header">
  <span class="navbar-brand"><span class="white">MyRails</span><span class="gray">Blog</span></span>
  <img src="<%= image_path 'rails.jpg' %>" alt="Example Image" class="header-image">
</nav>
